.font{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    height: 1100px;
    width: 1000px;
}
.header{
     margin-top: -900px;
     margin-left: 150px;
     margin-right: 200px;
}
h1{
   font-size:xx-large;
}
footer{
    color:#fff;
}